<div class="search-block">

  <div class="search_input">
      <h1>Start type github user name</h1>
      <mat-form-field>
        <input
          matInput
          placeholder="Start type user name"
          [(ngModel)] = "searchStr"
          [minlength]="minLength"
          (ngModelChange) = "handleChange()"
        >
        <mat-error>
          Min length is {{ minLength }}. Now it is {{ searchStr.length }}
        </mat-error>
      </mat-form-field>

    <mat-card class="card" *ngIf="isLoaded">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src=""
        alt=""
      >
      <mat-card-content>
        <ul>
          <li></li>
        </ul>
      </mat-card-content>
      <mat-card-actions class="center">
        <a target="_blank" mat-raised-button color="warn">View Profile</a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
